/* ======================
   ABOUT SECTION
   ====================== */
.about-content {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    align-items: center;
    justify-content: center;
}

.about-image {
    flex: 0 0 350px;
    max-width: 350px;
}

.about-image img {
    width: 100%;
    border-radius: var(--border-radius);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.about-text-container {
    flex: 1;
    max-width: 650px;
}

.about-text {
    text-align: left;
}

.about-text p {
    margin-bottom: 1rem;
    line-height: 1.6;
    color: var(--text);
}

/* Highlights */
.about-highlights {
    flex: 0 0 100%;
    max-width: 100%;
}

.about-highlights .card {
    width: 80%;
    margin: 0 auto;
}

/* Responsive Layout */
@media (min-width: 768px) {
    .about-highlights {
        flex-direction: row;
        justify-content: space-between;
    }
}

@media (max-width: 500px) {
    .about-text p {
        font-size: 0.8rem;
        text-align: center;
    }

    .about-image {
        max-width: 280px;
    }
}